.StorePetipanes_botones{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.StorePetipanes_backButton{
    width: 90px;
    height: 30px;
    color: white;
    background-color: var(--oak);
    display:flex;
    justify-content:center;
    align-items:center;
    margin: 10px;
}
.StorePetipanes_selector{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 280px;
}

.StorePetipanes_opciones{
    width: 140px;
    padding: 5px;
    height: 60px;
    box-sizing: border-box;
    text-align: start;
    display:flex;
    align-items: center;
}
.StorePetipanes_opciones:first-child{
    border-radius: 10px 0 0 0;
}
.StorePetipanes_opciones:nth-child(2){
    border-radius: 0px 10px 0 0;
}
.StorePetipanes_opciones:nth-last-child(2){
    border-radius: 0px 0px 0px 10px;
}
.StorePetipanes_opciones:last-child{
    border-radius: 0px 0px 10px 0px;
}

.StorePetipanes_opciones>div{
    display:flex;
}

.StorePetipanes_opciones>div>div:first-child{
    width: 20%;
}
.StorePetipanes_opciones>div>div:last-child{
    width: 80%;
    margin-left: 5px;
}
.StorePetipanes_cantidades, .StorePetipanes_selector{
    margin: 10px;
}
.StorePetipanes_cantidad:first-child:first-child{
    border-top: 0px;
}
.StorePetipanes_cantidad{
    display:flex;
    justify-content: center;
    box-sizing: border-box;
    height:40px;
    width:270px;
    border-top: 1px solid rgb(209, 209, 209);
}

.StorePetipanes_cantidad div {
    display:flex;
    align-items:center;
}
.StorePetipanes_cantidad div:first-child{
    justify-content:center;
}
.StorePetipanes_cantidad:first-child div:first-child {
    border-radius: 10px 0px 0 0;
}
.StorePetipanes_cantidad:first-child div:nth-child(4) {
    border-radius: 0px 10px 0 0;
}
.StorePetipanes_cantidad:last-child div:first-child{
    border-radius: 0px 0px 0px 10px;
}
.StorePetipanes_cantidad:last-child div:last-child{
    border-radius: 0px 0px 10px 0px;
}

.StorePetipanes_cantidad_izq{
    text-align: center;
    box-sizing: border-box;
    background-color: white;
    width: 40px;
    color: black;
}
.StorePetipanes_cantidad_mid{
    text-align: start;
    box-sizing: border-box;
    background-color: white;
    color: black;
    width: 160px;
}
.StorePetipanes_cantidad_submid{
    text-align: start;
    box-sizing: border-box;
    background-color: white;
    width: 50px;
}
.StorePetipanes_cantidad_subcolored{
    justify-content:center;
    color: white;
    box-sizing: border-box;
    background-color: var(--tomato);
    width: 50px;
}
.StorePetipanes_cantidad_der{
    background-color: gold;
    color: black;
    width: 30px;
    justify-content:center !important;
}
.StorePetipanes_cantidad:first-child{
    background-color: white;
    border-radius: 10px 10px 0px 0px;
}
.StorePetipanes_cantidad > .StorePetipanes_cantidad_unique{
    background-color: white;
    background-color: var(--oak);
    color: white;
    width: 270px;
    transition: background-color 1500ms
}
.StorePetipanes_cantidad > .StorePetipanes_cantidad_orderr{
    background-color: white;
    background-color: green;
    color: white;
    width: 270px;
    transition: background-color 1500ms
}
.StorePetipanes_cantidad:nth-last-child(1){
    border-radius: 0px 0px 10px 10px;
    background-color: var(--tomato);
    color: white;
}
