body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var( --pato);
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;

}
::-webkit-scrollbar {
  display: none;
}

a{
  text-decoration: none;
  color: inherit;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
input{
  font-size: 15px;
  font-family: sans;
}
textarea{
  font-size: 15px;
}
select{
  font-size: 15px;
}
.btn{
  border-radius: 5px;
  margin: 10px;
  background-color: white;
}
.btn_warning{
  background-color: gold !important;
  color: black;
  width: 200px;
}

.btn_box{
  background-color: beige;
  color: black;
  width: 200px;
}

.btn_tomato{
  background-color: var( --tomato);
  color: white;
  width: 200px;
}

.btn_blue{
  background-color:royalblue;
  color: white;
  width: 200px;
}

.btn_login{
  font-family: Arial;
  font-weight: bold;
  font-size: 18px;
  width: 348px;
  border-radius: 25px;
  padding: 10px;
  margin: 10px;
  color: white;
  box-sizing: border-box;
}
.facebook{
  background-color: #1877F2;
  display:flex;
  justify-content: start;
  align-items: center;
}
.google{
  background-color: #EFEFEF;
  color: black;
  display:flex;
  justify-content: start;
  align-items: center;
}
.login_normal{
  background-color: #E60023;
}
.login_normal_active{
  border-radius: 25px 25px 0 0;
  margin-bottom: 0 !important;
}
.login_normal_bottom{
  margin-top: 0 !important;
  border-radius: 0 0 25px 25px;
}
.login_register{
  background-color: var(--oak);
}
.register_normal_active{
  border-radius: 25px 25px 0 0;
  margin-bottom: 0 !important;
}
.register_normal_bottom{
  background-color: var(--oak);
  border-radius: 0 0 25px 25px; 
  margin-top: 0 !important;
}
.login_table_body{
  background-color: gold;
  padding: 10px;
  width: 348px;
  box-sizing: border-box;
}
.btn_login_table{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}