/* @media (max-width: 414px) {
    .StoreNav{
        width: 414px;
    }
}
@media (min-width: 414px) {
    .StoreNav{
        width: 100%;
    }
} */
.StoreNav_container{
    background-color: var(--tomato);
    display:flex;
    justify-content: center;
    align-items: center;
}
.StoreNav{
    display:flex;
    color: white;
    height: 200px;
    width: 390px;
}
.StoreNav >div:first-child{
    width: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
    padding-right: 8px;
}
.StoreNav_logo{
    height:120px;
}
.StoreNav_titles{
    width: 50%;
}
.StoreNav_titles div{
    height: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.StoreNav_titles div:hover, .StoreNav>div:first-child:hover{
    background-color: white;
    cursor:pointer;
    color: var(--oak);
}
.StoreNav>div:first-child:hover .StoreNav_logo {
    filter:invert(1) opacity(0.7) drop-shadow(0 0 0 var(--oak));    
}
.StoreNav_monto{
    margin: 10px;
    background-color: green;
    border-radius: 50px;
    width: 40px;
    height: 40px !important;
    color: white !important;
}
.StoreNav_monto:hover{
    color: black !important;
    filter:invert(1) opacity(0.7);
}