.StoreNav{
    display:flex;
    justify-content: center;
    background-color: var(--tomato);
}
.StoreNav >div {
    display:flex;
    justify-content: center;
    flex-direction: column;
    color: white;
    font-family: sans;
}
.StoreNav div {
    margin: 10px;
}
.StoreNav_logo{
    height:100px
}