.StoreBody{
    margin-top: 20px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.StoreBody_cuadro{
    height:150px;
    width: 360px;
    background-color: black;
    color: white;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    /* filter:brightness(60%); */
    /* margin-bottom: 50px; */
}
.StoreBody_cuadro_petipanes{
    background-image: url(../Images/petipanes.png);
    width: 360px;
    height: 160px;
    background-repeat: no-repeat;
    background-size:cover
}
.StoreBody_cuadro_ciabatta{
    width: 360px;
    height: 160px;
    background-image: url(../Images/ciabatta.png);
    background-repeat: no-repeat;
    background-size:cover
}
.StoreBody_cuadro:hover{
    cursor: pointer;
}
.StoreBody_petipanes_opciones{
    font-family: script;
    font-size: 18px;
    background-color: var(--tomato);
    color: white;
    border-bottom: 2px solid rgba(185, 185, 185, 0.445);
    padding: 20px;
}
.StoreBody_petipanes_detalledelivery{
    font-family: script;
    font-size: 18px;
    background-color: var(--oak);
    color: white;
    border-bottom: 2px solid rgba(185, 185, 185, 0.445);
    padding: 10px;
}
.StoreBody_petipanes_preopciones{
    width: 360px
}
.StoreBody_titulo{
    background-color: var(--oak);
    color: white;
    padding: 15px;
    box-sizing: border-box;
    width: 360px;
    letter-spacing: 10px;
}