.StoreBody_cuadro{
    height:150px;
    width: 360px;
    background-color: black;
    color: white;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    filter:brightness(60%);
    margin-bottom: 50px;
}
.StoreBody_cuadro:first-child{
    background-image: url(../Images/petipanes.png);
    background-repeat: no-repeat;
    background-size:cover
}
.StoreBody_cuadro:hover{
    cursor: pointer;
}
.StoreBody_petipanes-opciones{
    background-color: yellow;
    margin: 20px;
}